<div>
  <form [formGroup]="formularioRegistro" (ngSubmit)="registrarUsuario()" class="form">
    <mat-form-field class="mat-form-field inputForm">
        <input class="input" matInput type="email" formControlName="correo" placeholder="Correo">
        <img matSuffix class="iconoInput" src="../../../assets/images/IconoCorreoNegro.png" alt="">
        <!-- Usar la comprobacion de correo de Huelva -->
        @if(formularioRegistro.get('correo')?.hasError('pattern') || formularioRegistro.get('correo')?.hasError('required')){
            <mat-error>
                Por favor, introduzca un correo válido
            </mat-error>
        }
    </mat-form-field>

    <mat-form-field class="mat-form-field inputForm">
        <input class="input" [type]="hide ? 'password' : 'text'" matInput formControlName="contrasena" placeholder="Contraseña">
        <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            @if(hide){
                <img matSuffix class="iconoInput" src="../../../assets/images/IconoOcultarContraseniaNegro.png" alt="">
            }@else{
                <img matSuffix class="iconoInput" src="../../../assets/images/IconoMostrarContraseniaNegro.png" alt="">
            }
        </button>-->
        @if(formularioRegistro.get('contrasena')?.hasError('required')){
            <mat-error>
                Debe indicar la contraseña del usuario
            </mat-error>
        }
    </mat-form-field>

    <mat-form-field class="mat-form-field inputForm">
      <input class="input" [type]="hide ? 'password' : 'text'" matInput formControlName="contrasenarepeat" placeholder="Repetir Contraseña">
      <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          @if(hide){
              <img matSuffix class="iconoInput" src="../../../assets/images/IconoOcultarContraseniaNegro.png" alt="">
          }@else{
              <img matSuffix class="iconoInput" src="../../../assets/images/IconoMostrarContraseniaNegro.png" alt="">
          }
      </button> -->
      @if(formularioRegistro.get('contrasena')?.hasError('required')){
          <mat-error>
              Debe indicar la contraseña del usuario
          </mat-error>
      }
      @if(formularioRegistro.get('contrasena') != formularioRegistro.get('contrasenarepeat')){
        <mat-error>
            Ambas contraseñas deben coincidir
        </mat-error>
      }
  </mat-form-field>

    <button class="btnForm" cdkFocusInitial color="primary" type="submit">Registrar</button>
  </form>
</div>