.page-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table-container {
  max-height: 350px; 
  overflow-y: auto;  
  border-radius: 5px;  
  position: relative;  
}

.ejercicios-table {
  width: 100%;
  border-collapse: collapse;
}

.ejercicios-table thead {
  position: sticky;
  top: 0; 
  background-color: var(--SECONDARY_50);
  z-index: 1; 
}

th, td {
  padding: 20px 45px;
  text-align: center;
}

th {
  font-weight: bold; 
}

.td-acciones{
  display: flex;
  justify-content: space-evenly;
}

.edit-button, .delete-button {
  background: none;
  border: none;
  font-size: 16px;
}

.edit-button {
  margin-right: 10px;
}

.divNoData {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fakeButton {
  cursor: pointer;
  margin-right: 5px;
}
