<div class="page-container">
  <div class="table-wrapper">
    @if (existeData) {
      <div class="table-container">
        <table class="ejercicios-table">
          <thead>
            <tr>
              <th>Hora</th>
              <th>Nombre</th>
              <th>Tiempo</th>
              <th>Calorias</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for(ejercicio of newData; track 0){
            <tr>
              <td>{{ ejercicio.hora }}</td>
              <td>{{ ejercicio.nombre }}</td>
              <td>{{ ejercicio.tiempo }}/min</td>
              <td>{{ ejercicio.calorias }}</td>
              <td class="td-acciones">
                <img matSuffix class="edit-button fakeButton" src="../../../assets/icons/editBlack12.svg"
                (click)="editarEjercicio(ejercicio)" alt="">
                <img matSuffix class="delelte-button fakeButton" src="../../../assets/icons/deleteBlack12.svg"
                (click)="eliminarEjercicio(ejercicio)" alt="">
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    }
    @else {
      <div class="divNoData">
        <p>¡Añada ejercicios primero!</p>
      </div>
    }
  </div>
</div>
