<div class="formContenedor">
    <form [formGroup]="formularioLogin" (ngSubmit)="loginUser()" class="form">
        <mat-form-field class="mat-form-field inputForm">
            <input class="input" matInput type="email" formControlName="correo" placeholder="Correo">
            @if(formularioLogin.get('correo')?.hasError('pattern') ||
            formularioLogin.get('correo')?.hasError('required')){
            <mat-error>
                Por favor, introduzca un correo válido
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field class="mat-form-field inputForm">
            <input class="input" [type]="hide ? 'password' : 'text'" matInput formControlName="contrasena"
                placeholder="Contraseña">
            @if(formularioLogin.get('contrasena')?.hasError('required')){
                <mat-error>
                    Debe indicar la contraseña del usuario
                </mat-error>
            }
        </mat-form-field>

        <button class="btnForm" cdkFocusInitial color="primary" type="submit">Iniciar Sesión</button>
    </form>
</div>